
<style>
    .dashboard-menu .menu-link {
    background: rgba(0, 0, 0, 0.6) none repeat scroll 0 0;
    position: relative;
    display: inline-block;
    width: 100px;
    height: 100px;
    border-radius: 10px;
    box-shadow: 0 2px 1px -2px rgba(0, 0, 0, 0.3);
}
.row .col-33 {
    width: 33.333333333333336%;
}
.dashboard-menu > div:first-child {
    margin-top: 50px;
}
.dashboard-menu > div {
    margin-bottom: 20px;
}
.dashboard-menu {
    background-size: cover;
}
.dashboard-menu .menu-link > span:first-child {
    color: #FFFFFF;
    font-size: 50px;
    line-height: 80px;
}
.dashboard-menu .menu-link > span:last-child {
    display: block;
    color: #FFFFFF;
    text-transform: uppercase;
    font-size: 8px;
    position: absolute;
    width: 100%;
    bottom: 10px;
}
</style>
<ion-view view-title="Nạp tiền vào tài khoản ví">
    <ion-content style="background: url(img/welcome/welcome.jpg); background-size:cover">
      <nav class="dashboard-menu">
                        <div class="row text-center">
                            <div class="col-50">
                                <a href="#" class="menu-link">
                                    <span class="ion-android-folder-open"></span>
                                    <span>Nạp tiền vào ví</span>
                                </a>
                            </div>
                            <div class="col-50">
                                <a href="#" class="menu-link">
                                    <span class="ion-cash"></span>
                                    <span>Rút tiền từ ví</span>
                                </a>
                            </div>
                        </div>
                        <div class="row text-center">
                            <div class="col-50">
                                <a href="#" class="menu-link">
                                    <span class="ion-android-phone-portrait"></span>
                                    <span>Nạp tiền điện tử</span>
                                </a>
                            </div>
                            <div class="col-50">
                                <a href="#" class="menu-link">
                                    <span class="ion-card"></span>
                                    <span>Thanh toán hóa đơn</span>
                                </a>
                            </div>   
                        </div>
                    </nav>
    </ion-content>
</ion-view>
