
<style>
    .hero.slide-up * {
    opacity: 1;
    filter: alpha(opacity=1);
}
</style>
<ion-view view-title="Thông tin tài khoản">
    <ion-content style="background:#2E3B43">
       <div class="hero slide-up" style="background-image: url('img/dashboar.jpg'); height:220px">
            <div class="content" style="top:30px">
                <div class="avatar motion fade" style="background-image: url('img/ava4.jpg');  border-radius:10px; width:70px; height:70px; line-height:1;"></div>
                <h4><a class="light" style="font-weight:200">Nguyễn văn A</a></h4>
                <h4 style="font-weight:100">Số dư : <a style="color: #02D652">15,000,000 </a>VNĐ</h4>
            </div>
        </div>
        <div class="tabs tabs-dark tabs-icon-top static" style="background: rgba(0, 0, 0, 0.6) none repeat scroll 0 0;">
            <a class="tab-item">
                <i class="icon ion-radio-waves"></i> <span style="color:#fff; font-weight:300;"> Nạp tiền vào ví </span>
            </a>
            <a class="tab-item">
                <i class="icon ion-card"></i> <span style="color:#fff; font-weight:300;"> Nạp tiền điện tử </span>
            </a>
            <a class="tab-item" href="#/app/information">
                <i class="icon ion-ios-person" style="color:#fff"></i> <span style="color:#fff; font-weight:300;"> Cập nhật thông tin </span>
            </a>
        </div>
        <a href="#" style="text-decoration: none;"><h4 class="border-top" style="border: none; padding: 0; color: #fff; margin-left: 7px; margin-top:7px; margin-bottom: -2px; font-size: 15px; font-weight: 300;"> Lịch sử giao dịch</h4>
        <i style="font-family:'robotolight', sans-serif; font-weight:300; margin-top: -15px;float: right; color:#EE560B; margin-right:5px; font-size:13px; background: rgba(0, 0, 0, 0.6) none repeat scroll 0 0; padding-left:5px; padding-right:5px; border-radius:3px">Xem thêm ...</i>
        </a>
        
        <div class="list">
                <a class="item item-avatar" style="height:60px; margin-top:5px; padding-left:70px">
                    <!--<img src="img/ava4.jpg">-->
                    <i class="ion-cash" style="margin-left: -42px; font-size: 28px; color: green;"></i>
                    <p style="text-transform: uppercase; color:#fff; margin-top: -35px;">Nạp tiền điện thoại</p>
                    <p style="font-weight:100; font-size:13px">Bạn đã nạp <span style="color:green">500,000 VNĐ</span> | 17/05/2016</p>
                </a>
                <a class="item item-avatar" style="height:60px; margin-top:1px; padding-left:70px">
                    <!--<img src="img/ava4.jpg">-->
                    <i class="ion-cash" style="margin-left: -42px; font-size: 28px; color: green;"></i>
                    <p style="text-transform: uppercase; color:#fff; margin-top: -35px;">Nạp tiền vào ví</p>
                    <p style="font-weight:100; font-size:13px">Bạn đã nạp <span style="color:green">50,000,000 VNĐ</span> | 15/05/2016</p>
                </a>
                <a class="item item-avatar" style="height:60px; margin-top:1px; padding-left:70px">
                    <!--<img src="img/ava4.jpg">-->
                    <i class="ion-cash" style="margin-left: -42px; font-size: 28px; color: green;"></i>
                    <p style="text-transform: uppercase; color:#fff; margin-top: -35px;">Nạp tiền điện thoại</p>
                    <p style="font-weight:100; font-size:13px">Bạn đã nạp <span style="color:green">100,000 VNĐ</span> | 09/05/2016</p>
                </a>
                <a class="item item-avatar" style="height:60px; margin-top:1px; padding-left:70px">
                    <!--<img src="img/ava4.jpg">-->
                    <i class="ion-cash" style="margin-left: -42px; font-size: 28px; color: green;"></i>
                    <p style="text-transform: uppercase; color:#fff; margin-top: -35px;">Nạp tiền điện thoại</p>
                    <p style="font-weight:100; font-size:13px">Bạn đã nạp <span style="color:green">100,000 VNĐ</span> | 09/05/2016</p>
                </a>
            </div>
    </ion-content>
</ion-view>
