<?xml version='1.0' encoding='utf-8'?>
<widget id="io.app.coupon10k" version="0.0.6" xmlns="http://www.w3.org/ns/widgets" xmlns:cdv="http://cordova.apache.org/ns/1.0">
    <name>Coupon 10K</name>
    <author email="giang.dev.top@gmail.com" href="">Trường giang</author>
    <content src="index.html" />
    <access origin="*" />
    <allow-intent href="http://*/*" />
    <allow-intent href="https://*/*" />
    <allow-intent href="tel:*" />
    <allow-intent href="sms:*" />
    <allow-intent href="mailto:*" />
    <allow-intent href="geo:*" />
    <preference name="webviewbounce" value="false" />
    <preference name="UIWebViewBounce" value="false" />
    <preference name="ScrollEnabled" value="false" />
    <preference name="android-minSdkVersion" value="19" />
    <preference name="BackupWebStorage" value="none" />
    <preference name="SplashShowOnlyFirstTime" value="false" />
    <preference name="SplashScreen" value="none" />
    <platform name="android">
        <allow-intent href="market:*" />
        <icon src="resources/icon.png" />
    </platform>
    <plugin name="cordova-plugin-whitelist" spec="1.3.3" />
    <plugin name="cordova-plugin-device" spec="2.0.2" />
    <plugin name="cordova-plugin-splashscreen" spec="5.0.2" />
    <plugin name="cordova-plugin-ionic-webview" spec="1.1.19" />
    <plugin name="cordova-plugin-ionic-keyboard" spec="2.0.5" />
    <plugin name="cordova-plugin-facebook4" spec="^2.1.0">
        <variable name="APP_ID" value="1946240225621730" />
        <variable name="APP_NAME" value="Topica" />
        <variable name="ANDROID_SDK_VERSION" value="4.+" />
    </plugin>
    <plugin name="phonegap-plugin-push" spec="^2.1.3">
        <variable name="SENDER_ID" value="642203001429" />
        <variable name="FCM_VERSION" value="11.6.2" />
    </plugin>
    <plugin name="cordova-plugin-googleplus" spec="https://github.com/EddyVerbruggen/cordova-plugin-googleplus">
        <variable name="REVERSED_CLIENT_ID" value="com.googleusercontent.apps.1026230976029-40gllqvqt0q8g7vu0mbv9iln74s8ec3l" />
        <variable name="PLAY_SERVICES_VERSION" value="11.8.0" />
    </plugin>
    <engine name="android" spec="^7.1.4" />
</widget>
