<ion-view cache-view="false">
    <ion-nav-title>
        <span ng-if="!_shop_auth">Thông Tin Tài Khoản</span>
        <span ng-if="_shop_auth">Cửa Hàng {{auth[0].role[0].shop_name}}</span>
    </ion-nav-title>
    <ion-content>
        <div class="hero slide-up" style="background-image: url('img/newmaterial.jpg'); height:220px">
            <div class="content" ng-class="{'khtt2' : auth[0].loyal[0].Loyal !== 1 }" style="top:6px">
                <div class="avatar motion fade" style="background-image: url('{{auth[0].user_img}}');  border-radius:10px; width:90px; height:90px; line-height:1;"></div>
                <h4>
                    <a class="light" ng-class="{'khtt' : auth[0].loyal[0].Loyal === 1 }" style="font-weight:400; display: block">{{auth[0].info[0].fulname}}</a>
                    <span ng-if="auth[0].loyal[0].Loyal === 1" class="badge badge-assertive" style="background-color:  rgba(236, 64, 122, 0.7); border-radius: 5px">Khách
                        hàng thân thiết</span>
                </h4>
                <div class="item item-divider">
                    Activities
                </div>
                <div class="tabs" ng-if="!_shop_auth">
                    <a class="tab-item" style="border-right: 1px solid rgba(236, 64, 122, 0.4);">
                        {{auth[0].point_plus}} Điểm
                    </a>
                    <a class="tab-item">
                        Hạng {{auth[0].user_class[0].name}}
                    </a>
                </div>

                <div class="tabs" ng-if="_shop_auth">
                    <a class="tab-item" style="border-right: 1px solid rgba(236, 64, 122, 0.4);">
                        {{auth[0].role[0].name}}
                    </a>
                    <a class="tab-item">
                        Hạng {{shop[0].shop_rank[0].name}}
                    </a>
                </div>

            </div>
        </div>
        <div class="list" ng-if="!_shop_auth">
            <a class="item item-icon-left">
                <i class="icon ion-ios-pie-outline"></i>
                Tổng Slot
                <span class="badge badge-assertive" style="background-color:  rgba(236, 64, 122, 0.7)">{{auth[0].total_slot}}</span>
            </a>

            <a class="item item-icon-left item-icon-right">
                <i class="icon ion-ios-circle-outline"></i>
                Slot trống
                <span class="badge badge-assertive" style="background-color:  rgba(236, 64, 122, 0.7)">{{auth[0].empty_slot}}</span>
            </a>

            <a class="item item-icon-left">
                <i class="icon ion-ios-circle-filled"></i>
                Slot chứa Coupon
                <span class="badge badge-assertive" style="background-color:  rgba(236, 64, 122, 0.7)">{{auth[0].total_slot
                    - auth[0].empty_slot}}</span>
            </a>

            <a class="item item-icon-left">
                <i class="icon ion-ios-color-filter-outline"></i>
                Số Coupon đã dùng
                <span class="badge badge-assertive" style="background-color: rgba(0, 128, 0, 0.7)">{{auth[0].use_coupon.length}}</span>
            </a>

        </div>

        <div class="list" ng-if="_shop_auth">

            <a class="item item-icon-left">
                <i class="icon ion-ios-pie-outline"></i>
                Tổng số Coupon đã phát hành
                <span class="badge badge-assertive" style="background-color:  rgba(236, 64, 122, 0.7)">{{shop[0].user_get_coupon.length
                    + shop[0].expire_coupon.length + shop[0].shop_use_coupon.length}}</span>
            </a>

            <a class="item item-icon-left">
                <i class="icon ion-ios-close-outline"></i>
                Tổng số Coupon đã hết hạn
                <span class="badge badge-assertive" style="background-color: red">{{shop[0].expire_coupon.length}}</span>
            </a>

            <a class="item item-icon-left">
                <i class="icon ion-ios-color-filter-outline"></i>
                Tổng số Coupon đã được sử dụng
                <span class="badge badge-assertive" style="background-color: rgba(0, 128, 0, 0.7)">{{shop[0].shop_use_coupon.length}}</span>
            </a>

        </div>
    </ion-content>
</ion-view>