<ion-view view-title="<center>My Account</center>">
    <ion-content>
        <div class="hero slide-up" style="background-image: url('img/material-graphite.jpg'); height:220px">
            <div class="content" style="top:30px">
                <div class="avatar motion fade" style="background-image: url('img/ava4.jpg');  border-radius:10px; width:70px; height:70px; line-height:1;"></div>
                <h4>
                    <a class="light" style="font-weight:200">Nguyễn văn A</a>
                </h4>
                <!-- <h4 style="font-weight:100">Số dư :
                    <a style="color: #02D652">15,000,000 </a>VNĐ</h4> -->
                <div class="tabs">
                    <a class="tab-item">
                     120 Điểm
                    </a>
                    <a class="tab-item">
                       Bạch Kim
                    </a>
                </div>
            </div>
        </div>
        <div class="list">

            <a class="item item-icon-left">
                <i class="icon ion-ios-pie-outline"></i>
                Tổng Slot
                <span class="badge badge-assertive" style="background-color: #EC407A">0</span>
            </a>

            <a class="item item-icon-left item-icon-right">
                <i class="icon ion-ios-circle-outline"></i>
                Slot trống
                <span class="badge badge-assertive" style="background-color: #EC407A">0</span>
            </a>

            <a class="item item-icon-left">
                <i class="icon ion-ios-circle-filled"></i>
                Slot chứa Coupon
                <span class="badge badge-assertive" style="background-color: #EC407A">0</span>
            </a>

            <a class="item item-icon-left">
                <i class="icon ion-ios-color-filter-outline"></i>
                Số Coupon đã dùng
                <span class="badge badge-assertive" style="background-color: green">0</span>
            </a>

        </div>
    </ion-content>
</ion-view>