<ion-view cache-view="false" view-title="" >
    <ion-content style="margin-bottom: 40px">
        <div class="list">

            <div class="row" style="padding: 0px; height: 220px;">
                <div class="col coupon-img" style="background: url({{coupon_detail.shop_cover}}) no-repeat;
                background-size: cover;">
                </div>
            </div>
            <!-- <div class="item item-body" style="padding: 6px"> -->
            <div class="row">
                <img class="coupon-img-avatar" src="{{coupon_detail.shop_avatar}}">
            </div>

            <!-- </div> -->

            <!-- <div class="list"> -->

            <a class="item" style="text-align: center;">
                <span class="coupon-price">{{coupon_detail.value}} VNĐ</span>
            </a>

            <a class="item item-icon-left">
                <i class="icon ion-android-arrow-dropright"></i>
                Thông tin: {{coupon_detail.coupon_info}}
            </a>

            <a class="item item-icon-left">
                <i class="icon ion-android-arrow-dropright"></i>
                Ngày lấy: {{coupon_detail.release_day}}
            </a>

            <a class="item item-icon-left">
                <i class="icon ion-android-arrow-dropright"></i>
                Hạn sử dụng: {{coupon_detail.time_expire}}
            </a>

            <a class="item item-icon-left">
                <i class="icon ion-android-arrow-dropright"></i>
                Yêu cầu Feedback: Có
            </a>
            <!-- </div> -->

        </div>
    </ion-content>
    <div class="bar bar-footer" style="background: #EC407A; color: white" ng-click="use()">
        <div class="title">SỬ DỤNG</div>
    </div>
</ion-view>