<ion-view cache-view="false" view-title="">
    <ion-content style="margin-bottom: 40px" scroll="true">
        <div class="list">

            <div class="row" style="padding: 0px; height: 220px;">
                <div class="col coupon-img" style="background: url({{coupon_detail.shop_cover}}) no-repeat;
                background-size: cover;">
                </div>
            </div>

            <div class="row" style="margin-bottom: 15px">
                <img class="coupon-img-avatar" src="{{coupon_detail.shop_avatar}}">
            </div>

            <a class="item" style="text-align:center;">
                <span class="coupon-price">{{coupon_detail.value}} VNĐ</span>
            </a>
            <p ng-bind-html="coupon_detail.coupon_info | unsafe" style="padding: 30px; padding-bottom: 0; padding-top: 10px"></p>
            <!-- <a class="item item-icon-left">
                <i class="icon ion-android-arrow-dropright"></i>
                <p ng-bind-html="coupon_detail.coupon_info | unsafe"></p>
            </a> -->

            <a class="item item-icon-left">
                <i class="icon ion-android-arrow-dropright"></i>
                Ngày phát hành: {{coupon_detail.release_day}}
            </a>

            <a class="item item-icon-left">
                <i class="icon ion-android-arrow-dropright"></i>
                Hạn sử dụng: {{coupon_detail.time_expire}} <span ng-if="coupon_detail.time_expire !== '1'">Tháng</span> <span ng-if="coupon_detail.time_expire === '1'">Năm</span>
            </a>

            <a class="item item-icon-left">
                <i class="icon ion-android-arrow-dropright"></i>
                Yêu cầu Feedback: {{coupon_detail.rfeedback[0].name}}
            </a>

        </div>
    </ion-content>
    <div class="bar bar-footer" style="background: #EC407A; color: white" ng-click="use()">
        <div class="title">SỬ DỤNG</div>
    </div>
</ion-view>