<ion-view cache-view="false" view-title="{{coupon_detail.shop_name}}">
    <ion-content style="margin-bottom: 40px" has-bouncing="true" class="has-header">
        <div class="list" ng-show="!loading">

            <div class="row" style="padding: 0px; height: 220px;">
                <div class="col coupon-img item" style="background: url({{coupon_detail.shop_cover}}) no-repeat;
                background-size: cover;">
                </div>
            </div>

            <div class="row">
                <img class="coupon-img-avatar item" src="{{coupon_detail.shop_avatar}}">
            </div>

            <a class="item" style="text-align:center;">
                <span class="coupon-price">{{coupon_detail.value}} VNĐ</span>
            </a>
            <p ng-bind-html="coupon_detail.coupon_info | unsafe" style="padding: 30px; padding-bottom: 0; padding-top: 10px; font-size: 14px"></p>
            <!-- <a class="item item-icon-left">
                <i class="icon ion-android-arrow-dropright"></i>
                <p ng-bind-html="coupon_detail.coupon_info | unsafe"></p>
            </a> -->

            <a class="item item-icon-left">
                <i class="icon ion-android-arrow-dropright"></i>
                Ngày phát hành: {{coupon_detail.release_day}}
            </a>

            <a class="item item-icon-left">
                <i class="icon ion-android-arrow-dropright"></i>
                Hạn sử dụng: {{coupon_detail.limit_time}}
            </a>

            <a class="item item-icon-left">
                <i class="icon ion-android-arrow-dropright"></i>
                Yêu cầu Feedback: {{coupon_detail.rfeedback[0].name}}
            </a>

        </div>
    </ion-content>
    <div class="bar bar-footer" style="background: #EC407A; color: white" ng-click="use()">
        <div class="title">SỬ DỤNG</div>
    </div>
</ion-view>

<script>

    function runTimer() {
        var timeleft = 60;
        var downloadTimer = setInterval(function(){
        document.getElementById("seconds").textContent = 0;
        timeleft--;
        document.getElementById("seconds").textContent = timeleft;
        if(timeleft <= 0)
            clearInterval(downloadTimer);
        },1000);
    }

</script>