<ion-modal-view>
    <ion-header-bar class="bar bar-assertive" align-title="center">
        <h1 class="title">Cửa Hàng Từ Chối Coupon</h1>
    </ion-header-bar>
    <ion-content>
        <div class="row">
            <img class="coupon-feedback-img-avatar" src="{{coupon_detail.shop_avatar}}">
        </div>
        <div class="row">
            <div class="col">
              <p class="coupon-error">Coupon của bạn không được cửa hàng {{coupon_detail.shop_name}} chấp nhận, dưới đây là lý do cửa hàng đưa ra để không duyệt Coupon.</p>
            </div>
        </div>

        <div class="list card" style="margin-bottom: 50px">
            <p class="coupon-text-feedback">{{error_mesa}}</p>
        </div>

    </ion-content>
    <div class="bar bar-footer" style="background: #EC407A; color: white" ng-click="close_error()">
        <div class="title">Ok</div>
    </div>
</ion-modal-view>