<ion-modal-view>
    <ion-header-bar class="bar bar-assertive">
        <h1 class="title">Feedback Coupon</h1>
    </ion-header-bar>
    <ion-content>
        <div class="row">
            <div class="col">
                <pre>Hãy cho chúng tôi biết cảm nhận của bạn khi sử dụng dịch vụ và sản phẩm</pre>
            </div>
        </div>
        <div class="list">
            <!-- <label class="item item-input"> -->
            <p>
                <textarea id="quest" class="input coupon-text-feedback" rows="7" cols="65"></textarea>
            </p>
            <!-- </label> -->
            <label class="item item-input">
                <span class="input-label">Last Name</span>
                <input ng-model="newUser.lastName" type="text">
            </label>
        </div>
    </ion-content>
</ion-modal-view>