<ion-view cache-view="false" view-title="My Coupon">
    <ion-content>
        <ion-refresher pulling-text="Kéo để cập nhật" on-refresh="doRefresh()">
        </ion-refresher>

        <div ng-show="loading">
            <div class="row">
                <div class="col">
                    <div class="img-animated-background">
                    </div>
                </div>
                <div class="col col-75">
                    <div class="h2-animated-background">
                    </div>
                    <div class="h2-animated-background">
                    </div>
                    <div class="h2-animated-background">
                    </div>
                </div>
            </div>

            <div class="row">
                <div class="col">
                    <div class="img-animated-background">
                    </div>
                </div>
                <div class="col col-75">
                    <div class="h2-animated-background">
                    </div>
                    <div class="h2-animated-background">
                    </div>
                    <div class="h2-animated-background">
                    </div>
                </div>
            </div>

            <div class="row">
                <div class="col">
                    <div class="img-animated-background">
                    </div>
                </div>
                <div class="col col-75">
                    <div class="h2-animated-background">
                    </div>
                    <div class="h2-animated-background">
                    </div>
                    <div class="h2-animated-background">
                    </div>
                </div>
            </div>

        </div>

        <div class="list" ng-show="!loading">
            <a class="item item-thumbnail-left item-icon-right" ng-show="list_coupon.length > 0" ng-repeat="content in list_coupon" style="border-bottom: 1px solid rgba(236, 64, 122, 0.2) !important; min-height: 100px">
                <img src="{{content.shop_avatar}}">
                <h2 class="name_shop">{{content.shop_name}}</h2>
                <p>Hạn sử dụng: {{content.time_expire}}</p>
                <span class="coupona">
                    {{content.value}} VNĐ
                </span>
                <i class="icon ion-ios-arrow-right" style="color: #EC407A"></i>
            </a>

            <a class="item" ng-show="list_coupon.length === 0">
                <h2 style="text-align: center">Opp! Shop không có Coupon nào cần duyệt.</h2>
            </a>
        </div>
    </ion-content>
</ion-view>