<ion-view cache-view="false" view-title="{{giftDetail.giftName}}">
    <ion-nav-bar class="bar-gift">
        <ion-nav-back-button class="no-text">
        </ion-nav-back-button>
        <ion-nav-buttons side="left">
          <button class="button button-icon button-clear ion-navicon" menu-toggle="left"></button>
        </ion-nav-buttons>
      </ion-nav-bar>
    <ion-content has-bouncing="true" class="has-header">
        <div class="list" ng-show="!loading">

            <div class="row" style="padding: 0px; height: 220px;">
                <div class="col coupon-img item" style="background: url({{giftDetail.giftImages[1]}}) no-repeat;
                background-size: cover;">
                </div>
            </div>

            <div class="row">
                <img class="coupon-img-avatar item" src="{{giftDetail.giftImages[0]}}">
            </div>

            <a class="item" style="text-align:center;">
                <span class="coupon-price">{{giftDetail.giftPrice}} VNĐ</span>
            </a>

            <a class="item item-icon-left">
                <i class="icon ion-android-arrow-dropright"></i>
               Cửa hàng: {{giftDetail.giftShop[0].name}}
            </a>

            <p ng-bind-html="giftDetail.giftInfo | unsafe" style="padding: 30px; padding-bottom: 0; padding-top: 0px; font-size: 14px; margin-bottom: 0px"></p>

            <a class="item item-icon-left">
                <i class="icon ion-android-arrow-dropright"></i>
                Hạn sử dụng: {{giftDetail.giftExpiredDay}}
            </a>

            <a class="item item-icon-left">
                <i class="icon ion-android-arrow-dropright"></i>
                Địa chỉ nhận quà: {{giftDetail.giftAddress}}
            </a>

        </div>
    </ion-content>
    <div class="bar bar-footer" style="background: #53B54B; color: white" ng-click="useGift()">
        <div class="title">SỬ DỤNG</div>
    </div>
</ion-view>

<script>

    function runTimer() {
        var timeleft = 60;
        var downloadTimer = setInterval(function(){
        document.getElementById("seconds").textContent = 0;
        timeleft--;
        document.getElementById("seconds").textContent = timeleft;
        if(timeleft <= 0)
            clearInterval(downloadTimer);
        },1000);
    }

</script>