<ion-modal-view>
    <ion-header-bar class="bar bar-gift" align-title="center">
        <h1 class="title" style="color: #fff">Lý do không chấp nhận Quà</h1>
    </ion-header-bar>
    <ion-content>
        <div class="row">
            <div class="col">
                <ion-list>
                    <ion-radio ng-model="choose" ng-value="'true'" ng-change="giftReject(choose)">Khách không có mặt tại cửa hàng</ion-radio>
                    <ion-radio ng-model="choose" ng-value="'false'" ng-change="giftReject(choose)">Lý do khác</ion-radio>
                </ion-list>
            </div>
        </div>

        <div class="list" style="margin-bottom: 50px" ng-show="show_text">
            <p >
                <textarea id="giftmessage" class="input coupon-text-feedback" rows="7" cols="65"></textarea>
            </p>
        </div>

    </ion-content>
    <div class="bar bar-footer" style="background: #53B54B; color: white" ng-click="sendGiftNotif()">
        <div class="title">Gửi Khách hàng</div>
    </div>
</ion-modal-view>