<ion-view cache-view="false" view-title="My Coupon">
    <ion-content>
        <div class="tabs tabs-icon-left tabs-color-light bg" style="position: relative;">
            <a class="tab-item" ng-click="show_coupon()">
                <i class="icon ion-ios-pricetags"></i>
                My Coupon
            </a>
            <a class="tab-item" ng-click="show_feedback()">
                <i class="icon ion-ios-compose"></i>
                Feedback
            </a>
        </div>
        <div class="row">
            <div class="col" ng-show="coupon">
                abc
            </div>
            <div class="col" ng-show="feedback">
                asdasdasdsad
            </div>
        </div>

    </ion-content>
</ion-view>