<ion-view hide-nav-bar="true">
    <ion-content scroll="false" class="bg">
        <div class="login">
            <div class="row responsive-lg">
                <div class="col all-center padding-top">
                    <img src="img/icon2.png" class="logo">
                    <h4>Coupon 10K</h4>
                </div>
            </div>
            <div class="row responsive-lg all-center padding">
                <div class="col all-center padding">
                    <button class="button button-block button-raised button-positive lgbuton icon-left ion-social-facebook" ng-click="login()">
                        Login With Facebook
                    </button>
                </div>
            </div>

        </div>

        <div class="login-footer">
                Copyrights © 2018
        </div>

    </ion-content>
</ion-view>