<ion-view hide-nav-bar="true">
    <ion-content scroll="false" class="bg">
        <div class="login">
            <div class="row responsive-lg">
                <div class="col all-center padding-top">
                    <img src="img/logo.png" class="logo">
                    <h4>My Coupon App</h4>
                </div>
            </div>
            <div class="alert padding light" ng-show="_block_login">
                <h3>
                    <strong>Cảnh báo!</strong> Tài khoản của bạn đang bị khóa!</h3>
            </div>
            <div class="alert padding light" ng-show="_error_login">
                    <h3>
                        <strong>Cảnh báo!</strong> Truy cập Website để đăng ký tài khoản trước khi đăng nhập trên app!</h3>
                </div>
            <div class="row responsive-lg all-center padding">
                <div class="col all-center padding">
                    <button class="button button-block button-raised button-positive lgbuton icon-left ion-social-facebook" ng-click="login()">
                        Login With Facebook
                    </button>
                </div>
            </div>

        </div>

        <div class="login-footer">
            Copyrights © 2018
        </div>

    </ion-content>
</ion-view>