<ion-view hide-nav-bar="true" ion-side-menu-content drag-content="toggledrag">
    <ion-content scroll="false" class="bg">
        <div class="login">
            <div class="row responsive-lg">
                <div class="col all-center padding-top">
                    <img src="img/logo.png" class="logo">
                    <h4>My Coupon App</h4>
                </div>
            </div>
            <div class="row responsive-lg all-center padding">
                <div class="col all-center padding">
                    <button class="button button-block button-positive lgbuton icon-left ion-social-facebook" ng-click="login()">
                        Login With Facebook
                    </button>
                    <!-- <div class="fb-login-button" data-max-rows="1" data-size="large" data-button-type="login_with" data-show-faces="false" data-auto-logout-link="true"
                        data-use-continue-as="true"></div> -->
                </div>
            </div>

        </div>

        <div class="login-footer">
            Copyrights © 2018
        </div>

    </ion-content>
</ion-view>