<ion-modal-view>
    <ion-header-bar class="bar bar-assertive" align-title="center">
        <h1 class="title">Coupon In Preview</h1>
    </ion-header-bar>
    <ion-content>
        <div class="row">
            <img class="coupon-feedback-img-avatar" src="{{coupon_detail.reviewedby[0].img}}">
        </div>
        <div class="row">
            <div class="col">
              <center><p>Coupon đang duyệt bởi <span style="color: #EC407A">{{coupon_detail.reviewedby[0].userName}}</span></p></center>  
            </div>
        </div>

    </ion-content>
    <div class="bar bar-footer" style="background: #EC407A; color: white" ng-click="close_one()">
        <div class="title">Ok</div>
    </div>
</ion-modal-view>